body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    position: relative;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 140px;
    margin-bottom: 50px;
}

header #title{
    font-weight: 700;
    font-size: 35px;
    margin:0;
}

/* ____________________________________________ Todo Taks input __*/
.task-form{
    margin: 0 auto;
    margin-top: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#task-input{
    padding: 10px;
    border: 1px solid;
    border-radius: 3px;
    outline: none;
    width: 40%;
    border-color: #000000;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

#createTask-btn{
    background-color: #0f0835d2;    
    padding: 0px;
    width: 50px;
    height: 37.7px;
    border:2px solid;
    border-radius: 2px;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    margin-left: 3px;
    align-items: center;
}

#submit-icon{
    position: relative;
    padding: 0px;
    top: 1px;
}

/* _____________________________________________ Tags Navigation __*/
.tags-nav{
    width: 40%;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 40px;
}
.tags-nav button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    padding: 4px;
   
    
}
.tags-nav button img{
    position: relative;
    top: 2.5px;
    margin-left: 3px;
   
}
.tags-nav button:hover{
   background-color: #0000000a;
}


.tags-container{
    margin-top: 15px;
    display: flex;
    
}

.tags-container ul{
   display:flex ;
    list-style: none;
    margin:0;
    padding: 0;
    flex-wrap: wrap;
}
.tags-container li{
    font-size: 12px;
    margin-right: 8px;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 3px;
    margin-top: 4px;
}



.tag-container input{
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}
.tag-container{
    cursor: pointer;
    padding: 5px;
    user-select:none;
}
.checkmark{
    position: absolute;
    top: 0;
    right: 0;
    height: 15px;
    width:15px;
    background-color: aliceblue;
}

/* ____________________________________________ menu tags creation __*/
.input-color{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border:none;
    cursor: pointer;
    background-color: transparent;
    
}
.input-color::-webkit-color-swatch{
    border-radius: 50%;
    border: 1px solid rgb(119, 119, 119);
}
.input-color::-moz-color-swatch {
    border-radius: 50%;
    border: 1px solid rgb(119, 119, 119);
  }
.tag-demo{
    position: relative;
    margin: 0 auto;
    width: fit-content;
    height: 30px;
}
.tag-demo p{
    width: fit-content;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid transparent;
}

/* ____________________________________________ Task cards container flebox __*/
:root {
    --card_width: 280px;
    --card_border_radius:16px;
    --row_increment:11.5px;
    --card_small:17;
    --card_medium:21;
    --card_large:28;
}

.card-container{
    margin-top: 20px;
    width: 80vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    display: grid;
    grid-template-columns: repeat(auto-fill,var(--card_width));
    grid-auto-rows: var(--row_increment);
    justify-content: center;
}

.card {
    position: relative;
    padding: 15px;
    margin: 15px 10px;
    border-radius: 4px;
    border: 0px solid #bbbbbb;
    overflow: hidden;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.842);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    
    row-gap: 1em;
}

.card:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.card_small{
    grid-row-end: span var(--card_small);
}
.card_medium{
    grid-row-end: span var(--card_medium);
}
.card_large{
    grid-row-end: span var(--card_large);
}

.card #date{
    font-size: 13px;
    color: #5b5b5b;
}
.card-header{
    display: flex;
  
}
.card-header button{
    position: absolute;
    right: 0;
    border: none;
    padding: 2px;
    background-color: transparent;
    cursor: pointer;
    margin-right: 5px;
}

/* ____________________________________________ Menu tags preview  __*/
.modal-container{
    position: fixed;
    top: -150px;
    float: left;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
   
}
.modal{
   margin-top: 180px;
}

.show{
    pointer-events: auto;
    opacity: 1;
    z-index: 1;
}
#close-btn{
    float: right;
    padding: 4px;
    margin: 0;
    border: 0.1px solid #5b5b5b;
    background-color: tomato;
    border-radius: 3px;
}
#close-btn:hover{
   border: 0.1px solid #5b5b5b;
   cursor: pointer;
}

#close-btn img{
    position: relative;
    width: 13px;
    margin: 0;
    top: 2px;
}
.modal-form {
    margin: 0 auto;
    width: 400px;
    height: 170px;
    font-weight: 400;
    padding: 8px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #bebebe;
    box-shadow: 1px 1px 3px rgb(0, 0, 0,0.2);

}

#taggie{border-radius: 3px;}

#create-tags-form{
    text-align: center;
    font-weight: 300;
}
.modal-form #tagname{
    border: 1px solid rgb(179, 179, 179);
    border-radius: 3px;
    padding: 2px;
    
}
.modal-form .edit-tag{
    display: flex;
    width: fit-content;
    margin: 0 auto;
    margin-top: 10px;
}
.edit-tag input{
    margin-right: 8px;
    
}
.edit-tag label{
    position:relative;
    top: 2px;
}

#createTag-btn{
    color: white;
    font-family: system-ui, -apple-system, sans-serif;
    position: relative;
    bottom: -10px;
    padding: 4px;
    background-color: #0a162e;
    border-radius: 3px;
    border: 1px solid rgb(138, 138, 138);
    cursor: pointer;
}
.tagname-initial{
    margin-top: 20px;
}


/* ____________________________________________ Task Cards Submenu __*/


.menu-open{
    border: 1px solid #dadada;
    position: absolute;
    right: 0;
    top: 25px;
    margin-right: 8px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.menu-options{
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 4px;
}
.menu-options li{
    border: 1px solid transparent;
    border-radius: 3px;


}
.menu-options li:hover{
    background-color: #d8d8d86b;
    cursor: pointer;
}

.menu-container{
    position: absolute;
    right: 3px;
    top: 3px;
    margin-right: 8px;
    cursor: pointer;
}

.menu-open-checkbox {
    position: absolute;
    background-color: transparent;
    border: none;
    visibility: hidden;
    
}

.menu-options li img{
    width: 12px;
    margin-right: 4px;
}

/* ____________________________________________ tags card __*/
.tags-card-cont {
    display: flexbox;
    float: left;
    list-style: none;
    width: fit-content;
    border-radius: 3px;
    flex-wrap: wrap;
    margin-right: 4px;
    font-size: 13px;
    margin-bottom: 0px;
    border: 1px solid ;
    padding: 2px;


}

.tags-card-list{
    position: relative;
}

.card li{
    position: relative;

}

/* ____________________________________________ Filter Form __*/
.filter-form {
    position: relative;
    width: 80vw;
    left: 14%;
    font-weight: 300;
}

.empty-message{
    text-align: center;
    margin-top: 30px;
    font-weight: 300;
    color: #aeaeae;
}
.tag-message{
    text-align: center;
    margin-top: 30px;
    font-weight: 300;
    color: #aeaeae;
}

.text-drag{
    opacity: 0;
}
.show-message{
    opacity: 1;
}